@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600;700&display=swap");

:root {
    --menu-background: #dadada;
    --appointment-background: #fff;
    --banner-backgroundr: #244A9A;
    --bio-backgroundr: #FFFFFF;
    --experience-backgroundr: #EAF1F4;
    --achievement-backgroundr: #FFFFFF;
    --chamber-details-backgroundr: #EFF5F6;

    --heading-font-family: "Montserrat", sans-serif;
    --paragraph-font-family: "Poppins", sans-serif;
    --body-font-size: 14px;

    /* top-navbar-section */
    --top-nav-font-family: "Poppins Regular", sans-serif;
    --top-nav-font-color: #575756;
    --top-nav-font-size: 13px;
    --top-nav-background-color: #ededed;




    /* appointment-section */
    --brand-font-size: 26px;
    --brand-text-color: #266E88;
    --brand-icon-color: #266E88;
    --mobile-icon-color: #616160;
    --brand-font-family: "poppins-semibold", sans-serif;
    --brand-Logo-width: 48px;
    --mobile-icon-width: 32px;
    --mobile-text-font-size: 14px;
    --mobile-text-font-family: "poppins-bold", sans-serif;
    --mobile-number-font-size: 22px;
    /* banner-section */
    --prof-title-font-family: "Poppins Regular", sans-serif;
    --prof-title-color: #FFFFFF;
    --doctor-name-font-family: "Montserrat ExtraBold", sans-serif;
    --doctor-name-color: #FFFFFF;
    --doctor-description-font-family: "Poppins Regular", sans-serif;
    --doctor-description-font-color: #FFFFFF;
    --social-icon-color: #244A9A;
    --social-icon-background-color: #FFFFFF;
    --social-icon-text-color: #FFFFFF;

    /* biography-section */
    --biography-title-font-color: #575756;
    --biography-title-font-family: "Montserrat Medium", sans-serif;
    --biography-description-background-color: #ffffff;
    --biography-description-font-family: 'Poppins  Regular', sans-serif;
    --biography-description-font-color: #646363;
    --biography-image-background: ##8F9191;
    /* experience-section */



    --exp-title-font-family: 'Montserrat Medium', sans-serif;
    --exp-title-font-color: #575756;
    --exp-description-font-color: #646363;
    --exp-description-font-family: 'Poppins  Regular', sans-serif;
    /* achievement section */
    --achieve-font-familiy: 'Montserrat Medium', sans-serif;
    --achieve-font-color: #575756;
    --achieve-description-font-size: 14px;
    --achieve-image-background-color: #809926;
    --achieve-description-background-color: #e4ecbd;

    /* chamber-section */
    --chamber-title-font-color: #575756;
    --chamber-hospital-name-font-color: #646363;
    --chamber-hospital-name-font-size: 28px;
    --chamber-hospital-name-font-family: 'Montserrat Bold', sans-serif;
    --chamber-time-font-family: 'Montserrat Medium', sans-serif;
    --chamber-time-font-color: #FFFFFF;
    --chamber-hospital-add-font-family: 'Poppins Medium' sans-serif;
    --chamber-hospital-add-font-color: #646363;
    --chamber-time-background-color: #244A9A;




    --underline-background-color: #244A9A;

}



/* Global setup */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: var(--bs-body-font-family); */
    font-family: var(--paragraph-font-family);
    font-size: var(--body-font-size);
}




/* top-navbar-section */
.navbar-item {
    font-size: var(--top-nav-font-size);
    font-family: var(--top-nav-font-family);

}

.top-nav {
    background-color: var(--top-nav-background-color);
}

/* APPOINTMET-SECTION */

.appointment-navbar {
    margin-top: 57px;
    background-color: var(--appointment-background);
}


.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Appointment-Logo {
    width: var(--brand-Logo-width);
    color: var(--brand-icon-color) !important;
}

.brand-name {
    color: var(--brand-text-color);
    font-size: var(--brand-font-size);
    font-family: var(--brand-font-family);
}

.appointment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-icon {
    width: var(--mobile-icon-width);
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--mobile-icon-color);
}

.mobile-text-container {
    line-height: 30px;

}

.mobile-text {
    font-size: var(--mobile-text-font-size);
    font-family: var(--mobile-text-font-family);
    font-weight: 600;
}

.mobile-num {
    font-size: var(--mobile-number-font-size);
    font-family: var(--mobile-text-font-family);
    font-weight: 700;
}


/* HEADER-BANNER-SETION */


.header-banner-container {
    background-color: var(--banner-backgroundr);
}

.banner-text-container {
    text-align: justify;
}

.doctor-name {
    font-family: var(--doctor-name-font-family);
    color: var(--doctor-name-color);
}

.prof-title {
    color: var(--prof-title-color);
    font-family: var(--prof-title-font-family);
}

.doctor-description {
    font-family: var(--doctor-description-font-family);
    color: var(--doctor-description-font-color);
    text-align: justify;
}

.banner-icon a {
    text-decoration: none;
}

.banner-icon i {
    background-color: var(--social-icon-background-color);
    color: var(--social-icon-color);
}

.banner-icon span {
    font-size: 13px;
    color: var(--social-icon-text-color);
    font-weight: 400;
}

/* BIOGRAPHI-SECTION */

.biography-title-underline {
    height: 1.5px;
    width: 135px;
    background-color: var(--underline-background-color);
}

.biography-container {
    background-color: var(--bio-backgroundr);
}


.biography-title {
    font-family: var(--biography-title-font-family);
    color: var(--biography-title-font-color);
}

.biography-description {
    font-family: var(--biography-description-font-family);
    color: var(--biography-description-font-color);
    text-align: justify;
}

/* EXPERIENCE-SECTION */
.exp-title-underline {
    border-bottom: 2px solid var(--underline-background-color);
}

.experience-container {
    background-color: var(--experience-backgroundr);
}

.exp-title {
    font-family: var(--exp-title-font-family);
    color: var(--exp-title-font-color);
}

.exp-description {
    font-family: var(--exp-description-font-family);
    color: var(--exp-description-font-color);
    text-align: justify;
}



/* ACHIEVEMENT-SECTION */
.achievement-container-underline {
    background-color: var(--underline-background-color);
}

.achievement-title {
    font-family: var(--achieve-font-familiy);
    color: var(--achieve-font-color);
}

.achievement-description {
    font-family: var(--achieve-font-familiy);
    color: var(--achieve-font-familiy);
    text-align: justify;
}

/* CHAMBER-DETAILS */

.chamber-details-title-underline {
    height: 1.5px;
    width: 210px;
    background-color: var(--underline-background-color);
}

.chamber-details-time-container {
    width: 50%;
    margin: auto;
}

.chamber-details-container {
    background-color: var(--chamber-details-backgroundr);
}


.chamber-title {
    font-family: var(--chamber-title-font-family);
    color: var(--chamber-title-font-color);
}

.time {

    font-family: var(--chamber-time-font-family);
    color: var(--chamber-time-font-color);
    background-color: var(--chamber-time-background-color);
}

.hospital-name {
    font-family: var(--chamber-hospital-name-font-family);
    color: var(--chamber-hospital-name-font-color);
}

@media only screen and (max-width: 768px) {

    .horizontal-line {
        height: 3px;
        width: 35%;
        margin: 0 auto !important;
        background-color: var(--horizontal-line-background-color);
    }

    /* APPOINTMET-S
  ECTION  MEDIA QUERY*/
    .appointment-navbar {
        margin-top: 57px;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Appointment-Logo {
        width: 40px;
        color: var(--brand-icon-color);
    }

    .brand-name {
        font-size: 16px;
        font-family: var(--brand-font-family);
        color: var(--brand-text-color);
    }

    .appointment-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-icon {
        width: 20px;
        margin: auto 0;
        color: var(--mobile-icon-color);
    }

    .mobile-text-container {
        line-height: 16px;
    }

    .mobile-text {
        font-size: 9px;
        font-family: var(--mobile-text-font-family);
    }

    .mobile-num {
        font-size: 14px;
        font-family: var(--mobile-text-font-family);
    }

    /* BIOGRAPHY-SECTION */
    .biography-title-underline {
        height: 1.5px;
        width: 110px;
        background-color: var(--underline-background-color);
    }

    /* CHAMBER-DETAILS */

    .chamber-details-time-container {
        width: 100%;
        margin: auto;
    }

    .chamber-details-title-underline {
        height: 1.5px;
        width: 180px;
        background-color: var(--underline-background-color);
    }

}